:root {
  --color-dark: #222;
  --color-blue: #3199dc;
  --color-light: #e3e1e1;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-dark);
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Roboto' sans-serif;
}

* {
  scrollbar-color: var(--color-blue) var(--color-dark);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}